<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kadir Yazılım Randevu Merkezi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">

        <div class="logo">
            KADİR YAZILIM
        </div>

        <div class="nav-links">
            <a href="/">Ana Sayfa</a>
            <a href="/randevu">Randevu</a>
            <a href="#">SSS</a>
            <a href="#">İletişim</a>
            <a href="#" class="login-btn">Giriş Yap</a>
        </div>

    </nav>


    <section class="hero">

        <div class="hero-content">

            <span class="hero-badge">
                KADİR YAZILIM GÖRÜŞME MERKEZİ
            </span>

            <h1>
                Görüşmenizi <span>Kolayca Planlayın.</span>
            </h1>

            <p>
                Projeleriniz, teknik destek ve iş birlikleri için
                çevrimiçi görüşmenizi kolayca planlayın.
            </p>

            <div class="hero-buttons">

                <a href="/randevu" class="primary-btn">
                     🗓️ Randevu Oluştur
                </a>

                <a href="#" class="secondary-btn">
                    Nasıl Çalışır?
                </a>

            </div>

        </div>

    </section>

</body>
</html>